/*BOTH CURTAIN IMAGES CLASS*/
img.curtain {
    z-index:99; /* to show it on top of the content*/
    margin: 0px !important;
    border: 0px !important;
}

/*LEFT CURTAIN IMAGE CLASS*/
img.curtainLeft {
    position:absolute; /*absolute positioning is important*/
    left:0px; /*position it on left side of the container*/
}

/*RIGHT CURTAIN IMAGE CLASS*/
img.curtainRight {
    position:absolute; /*absolute positioning is important*/
    right:0px; /*position it on the right side of the container*/
}

/*THE CLASS OF THE WRAPPING DIV (THAT WRAPS EVERYTHING)*/
div.curtain_wrapper {
    position:relative; /*relative position so we can absolutely position the child elements*/
    overflow:hidden; /*hide everything out of boundaries (in this case for the description div)*/
    color:white; /* just styling*/
    background:black; /* just styling*/
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

/*THE TEXT DIV CLASS (BEHIND THE CURTAINS)*/
div.curtain_content {
    position:relative; /*so we can center it*/
    margin:0px auto; /*center it*/
    display:none; /*we don't want our users to see the content while the curtain images are loading*/
}

div.curtain_content > a > img {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-image: none;
    border-image-width: 0;
}

/*DESCRIPTION DIV CLASS (THE TEXT ON TOP LEFT SIDE IN THE DEMO)*/
.curtain_description {
    position:absolute; /*absolute position is important*/
    top:0px; /*position it on top of the curtain_wrapper*/
    z-index:100; /*show it on top of the curtain (remember that they have z-index of 99)*/
    /*styling bellow*/
    padding:5px;
    text-align:center;
    font-size:15px;
    background:#eee;
    border:1px solid #ccc;
    border-left:0px;
    border-top:0px;
    color:black;
}

